.profile-logo{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.youtube-logo{
    height: 60px;
}
.b-radius{
    border-radius: 50%;
}
.background-gray{
    background-color: whitesmoke;
}
.background-gray:hover{
    background-color: #d4d4d4;
    transition: 0.2s;
}
.background-white{
    background-color: white;
}
.background-white:hover{
    background-color: #d4d4d4;
    transition: 0.2s;
}

.nav-bar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
}