.profile-logo{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.youtube-logo{
    height: 60px;
}
.b-radius{
    border-radius: 50%;
}
.background-gray{
    background-color: whitesmoke;
}
.background-gray:hover{
    background-color: #d4d4d4;
    transition: 0.2s;
}
.background-white{
    background-color: white;
}
.background-white:hover{
    background-color: #d4d4d4;
    transition: 0.2s;
}
